In [3]:
import pandas as pd

df = pd.DataFrame({"names":["stephen", "muiru"], "object":["human", "male"]})

print(df);

     names object
0  stephen  human
1    muiru   male

In [3]:
df.index = ["row 1", "row 2"]

print(df)

         names object
row 1  stephen  human
row 2    muiru   male

In [12]:
survey = pd.read_csv("./files/annual-enterprise-survey-2023-financial-year-provisional.csv", index_col="Variable_code")

survey.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Variable_code,,,,,,,,,
H01,2023,Level 1,99999,All industries,Dollars (millions),Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...
H04,2023,Level 1,99999,All industries,Dollars (millions),"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...
H05,2023,Level 1,99999,All industries,Dollars (millions),"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
H07,2023,Level 1,99999,All industries,Dollars (millions),Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...
H08,2023,Level 1,99999,All industries,Dollars (millions),Total expenditure,Financial performance,832964,ANZSIC06 divisions A-S (excluding classes K633...

In [16]:
survey.iloc[0]

Year                                                                        2023
Industry_aggregation_NZSIOC                                              Level 1
Industry_code_NZSIOC                                                       99999
Industry_name_NZSIOC                                              All industries
Units                                                         Dollars (millions)
Variable_name                                                       Total income
Variable_category                                          Financial performance
Value                                                                     930995
Industry_code_ANZSIC06         ANZSIC06 divisions A-S (excluding classes K633...
Name: H01, dtype: object

In [18]:
survey.iloc[2:,0]

Variable_code
H05    2023
H07    2023
H08    2023
H09    2023
H10    2023
       ...
H37    2013
H38    2013
H39    2013
H40    2013
H41    2013
Name: Year, Length: 50983, dtype: int64

In [19]:
survey.iloc[2:4]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Variable_code,,,,,,,,,
H05,2023,Level 1,99999,All industries,Dollars (millions),"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
H07,2023,Level 1,99999,All industries,Dollars (millions),Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...

In [24]:
survey.iloc[2:6,[1,2,3,4]]

,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units
Variable_code,,,,
H05,Level 1,99999,All industries,Dollars (millions)
H07,Level 1,99999,All industries,Dollars (millions)
H08,Level 1,99999,All industries,Dollars (millions)
H09,Level 1,99999,All industries,Dollars (millions)

In [25]:
survey.iloc[[2,3,4,-2],[0,1,2,4,5,-1, -2]]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Units,Variable_name,Industry_code_ANZSIC06,Value
Variable_code,,,,,,,
H05,2023,Level 1,99999,Dollars (millions),"Interest, dividends and donations",ANZSIC06 divisions A-S (excluding classes K633...,84354
H07,2023,Level 1,99999,Dollars (millions),Non-operating income,ANZSIC06 divisions A-S (excluding classes K633...,25010
H08,2023,Level 1,99999,Dollars (millions),Total expenditure,ANZSIC06 divisions A-S (excluding classes K633...,832964
H40,2013,Level 3,ZZ11,Percentage,Return on total assets,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",5

In [28]:
survey.iloc[40:]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Variable_code,,,,,,,,,
H12,2023,Level 1,AA,"Agriculture, Forestry and Fishing",Dollars (millions),Salaries and wages paid,Financial performance,6858,ANZSIC06 division A
H13,2023,Level 1,AA,"Agriculture, Forestry and Fishing",Dollars (millions),Redundancy and severance,Financial performance,2,ANZSIC06 division A
H19,2023,Level 1,AA,"Agriculture, Forestry and Fishing",Dollars (millions),Purchases and other operating expenses,Financial performance,33623,ANZSIC06 division A
H20,2023,Level 1,AA,"Agriculture, Forestry and Fishing",Dollars (millions),Non-operating expenses,Financial performance,1156,ANZSIC06 division A
H21,2023,Level 1,AA,"Agriculture, Forestry and Fishing",Dollars (millions),Opening stocks,Financial performance,14144,ANZSIC06 division A
...,...,...,...,...,...,...,...,...,...
H37,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
H38,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
H39,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
H40,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
H41,2013,Level 3,ZZ11,Food product manufacturing,Percentage,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."